### Pros

# Both
**/.vscode
**/bin
**/firmware
common.mk
compile_commands.json
*.pros
temp.log
temp.errors

# Cortex

# V5
**/display
**/okapi
**/pros/*
api.h

# Other
*.swp

### C and C++

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.elf
*.ko

# Linker output
.*.ilk
*.map
*.exp


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.so.*

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.lo

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
